<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<button class = "btn btn-primary" type = "button">Ingresar</button>



        <header>
            <div class="main">
                <h1>Conectados</h1>
            </div>
        </header>
        
        <div id="main" class="container-fluid">
            <div class="inicio">
                <div class="img-div">
                    <img src="<%= asset_path 'home.png' %>" alt="Imagen del home de la app" class="imgHome"/>
                </div>
                <div class="texto-descripcion">
                    <h2>Conectandonos con la Comunidad</h2>
                    <p>
                        Con esta App puedes comunicarte con las entidades de gobierno locales y con los demás ciudadnos de tu localidad y ayudar a promover la sana convivencia.
                    </p>
                </div>
            </div>
            </div>
        
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="modulo">
                        <img src="<%= asset_path 'usuario.png' %>" alt="Imagen del home de la app" class="imgHome"/>
                        <div>
                            <h2>Conectandonos con la Comunidad</h2>
                            <p>
                                Con esta App puedes comunicarte con las entidades de gobierno locales y con los demás ciudadnos de tu localidad y ayudar a promover la sana convivencia.
                            </p>
                        </div>
                    </div>
                </div>
               <div class="col-sm-6">
                    <div class="modulo">
						<div>
                            <h2>Conectandonos con la Comunidad</h2>
                            <p>
                                Con esta App puedes comunicarte con las entidades de gobierno locales y con los demás ciudadnos de tu localidad y ayudar a promover la sana convivencia.
                            </p>
                        </div>
                        <img src="<%= asset_path 'usuario.png' %>" alt="Imagen del home de la app" class="imgHome"/> 
                    </div>
                </div>
            </div>
        </div>
